# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Java
*.class

# C/C++
*.out
*.exe
*.o

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# Build output
/out/
